.button {
  --color: mediumaquamarine;
  --hover: #{adjust-hue(mediumaquamarine, 45deg)};

  background: none;
  border: 2px solid;
  border-radius: 30px;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;

  color: var(--color);
  transition: 0.25s;
  cursor: pointer;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;

    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }

  &:disabled {
    pointer-events: none;
    color: gray;
  }

  &.primary {
    background-color: var(--color);
    border-color: var(--color);
    color: whitesmoke;
    text-shadow: gray 1px 0 6px;
    
    &:hover, &:focus, &:focus-visible, &:focus-within {
      border-color: #{adjust-hue(mediumaquamarine, 20deg)};
      background-color: #{adjust-hue(mediumaquamarine, 20deg)};
    }

    &:disabled {
      background-color: gray;
      border-color: gray;
    }
  }
}