.content {
  min-height: 50vh;
  padding: 100px 50px;
}

.heading {
  font-size: 30px;
  margin-bottom: 20px;
}

.optionsWrapper {
  display: flex;
  justify-content: space-around;
}

.option {
  display: flex;
  flex-direction: column;
}

// .table {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   border: 1px solid mediumaquamarine;
//   justify-content: space-around;
// }

// .row {
//   display: flex;
// }

// .cell {
//   border: 1px solid mediumaquamarine;
//   flex: 1;
// }