.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid mediumaquamarine;
  justify-content: space-around;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid mediumaquamarine;
  flex: 1;
}