.content {
  min-height: 50vh;
  padding: 100px 50px;
}

.heading {
  font-size: 30px;
  margin-bottom: 20px;
}

.optionsWrapper {
  display: flex;
  justify-content: space-around;
}

.option {
  display: flex;
  flex-direction: column;
}

//Seller Roadmap image
.sellerRoadmap{
  height: 550px;
  width: 250px;
  background-image: url("../../public/sellers-roadmap.png");
  background-repeat: no-repeat;
  background-size: 100%;

}

//Investor Roadmap image
.investorsRoadmap{
  height: 320px;
  width: 250px;
  background-image: url('../../public/investors-roadmap.png');
  background-repeat: no-repeat;
  background-size: 100%;
}


// .table {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   border: 1px solid mediumaquamarine;
//   justify-content: space-around;
// }

// .row {
//   display: flex;
// }

// .cell {
//   border: 1px solid mediumaquamarine;
//   flex: 1;
// }