.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 50px;
  min-height: 70vh;
  text-align: left;
  max-width: 65%;
}

.heading {
  font-size: 30px;
}

.description {    
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;  
  font-size: 24px;
}
