.progressBar {
  display: flex;
  justify-content: center;
}

.stepName {
  max-width: 130px;
  margin-top: 64px;

  &.clickable {
    cursor: pointer;
  }
  &.clickable:hover {
    font-weight: 800;
  }
}

.fakeButton {
  position: static;
  top: 80px;
  left: 80px;
}