.wrapper {
  position: relative;
  display: flex;
  width: fit-content;
}

.name {
  font-size: 40px;
}

.dot {
  position: absolute;
  bottom: 0;
  right: 0;
  content: ' ';
  
  width: 50px;
  height: 20px;
  background-color: black;
  transform: translate(50%, 18%) rotateZ(-60deg);

  
  &:before {
    position: absolute;
    right: 18%;
    bottom: 0;
    
    content: ' ';
    width: 10px;
    height: 10px;
    background-color: mediumaquamarine;
    border-radius: 50%;
  }
}

.adding {
  font-size: 40px;
}